<%= link_to "new store", new_store_path %>

<% @stores.each do |store| %>
  <div class="store">
    <p>Name: <%= store.name %></p>
    <p>Status: <%= store.status %></p>
    <%= store.link_to_twitter %>
    <%= admin_update_store_status_button(store) %>
  </div>
<% end %>
