<ul class="nav">
    <li class="logo"><%= link_to  image_tag("cropped_artsy.png"), root_path %></li>
  <li class="nav-item dropdown">

    <div class="v-right">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
      <div class="dropdown-menu">
        <% all_categories.each do |category| %>
        <%= link_to category.title, category_path(category.slug), class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <div class="v-right">
      <%= link_to 'Cart', cart_path, class: "btn" %>
      <span class="badge badge-secondary"><%= cart.total_count %></span>
    </div>
  </li>
  <% if current_user %>
    <li class="nav-item">
      <div class="v-right">
        <%= link_to 'Live Support', support_path, class: "btn" %>
      </div>
    </li>
  <% end %>

  <div id="left-nav-margin">
    <% if logged_in? %>
      <li class="nav-right">
        <div class="v-right">
          <%= link_to 'Dashboard', current_dashboard_path, class: "nav-link active" %>
        </div>
      </li>
      <li class="nav-item">
        <div class="v-left">
          <%= link_to 'Logout', logout_path, method: :delete, class: "nav-link active" %>
        </div>
      </li>
    <% else %>
      <li class="nav-right">
        <div class="v-right">
          <%= link_to 'Login', login_path, class: "nav-link active" %>
        </div>
      </li>
      <li class="nav-right">
        <%= link_to 'Sign Up', new_user_path, class: "nav-link active" %>
      </li>
    <% end %>

  </ul>
</div>
