<div class="container">
  <h4>Order #<%= @order.id %></h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |order_item| %>
        <tr id="item-<%= order_item.item_id %>">
          <th scope="row"><h6><%= image_tag order_item.image, class: "card-img-top", style: "max-height: 100px; max-width: 100px;" %></h6></th>
          <td class="title"><%= order_item.item.link_to_show %></td>
          <td class="quantity"><%= order_item.quantity %></td>
          <td class="price"><%= order_item.price %></td>
        </tr>
      <% end %>
    </tbody>
    <tr>
      <th></th>
      <th></th>
      <th>Total:</th>
      <td class="order-total">
        Total: <%= @order.total_price %>
      </td>
    </tr>
    </tbody>
  </table>

  <p><b>Order Date:</b> <%= @order.created_at %>
  <b>Order Placed by:</b> <%= @order.user.full_name %>
  <b>Order Address:</b> <%= @order.user.address %>
  <b>Order Status:</b> <%= @order.status.capitalize %></p>
</div>
