<div class="item-#{item.id}">
  <tr>
    <th scope="row"><strong><%= link_to item.title, item_path(item) %></strong></th>
    <td><%= image_tag item.image, class: "cart_image"%></td>
    <td><%= item.dollars %></td>
    <td><%= item.quantity %></td>
    <td>
      <%= button_to "-", cart_path(id: item.id, condition: "decrease"), method: :patch, class: badge(:danger) %>
      <%= button_to "+", cart_path(id: item.id, condition: "increase"), method: :patch, class: badge(:success) %>
    </td>
    <td><%= button_to "Remove", cart_path(id: item.id), method: :delete, class: badge(:danger) %></td>
    <td>$<%= item.subtotal %></td>
  </tr>
</div>
