<div class = "container">
  <h4><%= link_to "Continue shopping", items_path %></h4>
  <div class="row text-center">
    <div class='col-6'>
      <%= image_tag @item.image  %>
    </div>
    <div class='col-6 card bg-info'>
      <div class='card-body '>
        <h2><strong><%= @item.title %></strong></h2>
        <%= @item.description %>
        <p>Price: $<%= @item.price %><p>
        <% unless @item.retired? %>
          <%= link_to "Add to cart", cart_path(item_id: @item.id), method: :post, class: "badge badge-primary" %>
        <% else %>
          <div class="badge badge-secondary">Retired</div>
			  <% end %>
		  </div>
		</div>
	</div>
</div>
