<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <%= navlink 'My Account', edit_user_path %>
        <%= navlink 'My Orders', orders_path %>
        <%= navlink 'My Stores', stores_path %>
        <%= platform_admin_dashboard_tabs %>
      </ul>
    </div>
    <div class="card-body">
      <p class="card-text">
        You've been a member since <%= viewer.created_at %>. Yay!
        The e-mail address we have on file is <%= viewer.email %>.
      </p>
    </div>
  </div>
</div>
