<div class="container">
  <nav class="nav nav-tabs" id="myTab" role="tablist">
    <%= navlink "Dashboard", dashboard_path %>
    <%= platform_admin_dashboard_tabs %>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th><i>Customer<i></th>
            <th><i>Total Orders To-Date<i></th>
          </tr>
        </thead>
        <tbody>
          <% @analytics.orders_per_customer.each do |key, value| %>
            <tr>
              <th scope="row"><%= key %></th>
              <td><%= value %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th><i>Customer<i></th>
            <th><i>Items Ordered To-Date<i></th>
          </tr>
        </thead>
        <tbody>
          <% @analytics.items_ordered_per_customer.each do |key, value| %>
            <tr>
              <th scope="row"><%= key %></th>
              <td><%= value %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p>
        Total shop sales to date: $ <%= @analytics.total_sales %>.
        Total completed orders: <%= @analytics.completed_orders %>
        Average number of onsies per order: <%= @analytics.average_quantity_purchased %>
      </p>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th><i>Item<i></th>
            <th><i>Quantity Sold To-Date<i></th>
          </tr>
        </thead>
        <tbody>
          <% @analytics.sales_by_item_title.each do |key, value| %>
            <tr>
              <th scope="row"><%= key %></th>
              <td><%= value %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
