<!DOCTYPE html>
<html>
  <head>
    <title>Artsy<%= yield :subtitle %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <header>
        <%= render 'nav' %>
        <%= flash_section %>
      </header>
      <%= yield %>
    </div>
    <%= render 'footer' %>
  </body>
</html>
